
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Добавление нового ученика</title>
</head>
<body>
    <h1>Добавление нового ученика</h1>
    <form method="post" action="{% url 'add_student' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Добавить ученика</button>
    </form>
    <a href="{% url 'students_list' %}">Вернуться к списку учеников</a>
</body>
</html>
