{% extends 'base.html' %}
{% load static %}

{% block content %}
    <h2>Список студентов</h2>
    <a href="{% url 'create_student' %}"><button>Добавить ученика</button></a>
    <table id="studentsTable">
        <thead>
            <tr>
                <th onclick="sortTable(0)">Имя</th>
                <th onclick="sortTable(1)">Фамилия</th>
                <th onclick="sortTable(2)">Возраст</th>
                <!-- Добавьте другие заголовки столбцов, если необходимо -->
            </tr>
        </thead>
        <tbody>
            {% for student in students %}
                <tr>
                    <td>{{ student.first_name }}</td>
                    <td>{{ student.last_name }}</td>
                    <td>{{ student.age }}</td>
                    <!-- Вставьте другие поля студента, если необходимо -->
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <script src="{% static 'js/sort-table.js' %}"></script>
{% endblock %}
