<!-- schoolapp/templates/students_list.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список учеников</title>
</head>
<body>
    <h1>Список учеников</h1>
  
    <ul>
        {% for student in students %}
            <li>
                {{ student.first_name }} {{ student.last_name }}
                (<a href="{% url 'student_detail' student.id %}">Детали</a>)
                (<a href="{% url 'delete_student' student.id %}">Удалить</a>)
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'add_student' %}">Добавить нового ученика</a>
</body>
</html>
