/* static/css/styles.css */


.navbar {
    background-color:#ff5252; /* Цвет фона навигационной панели */
    padding: 10px 0;
}

.container {
    
    width: 80%; /* Ширина контейнера для центрирования содержимого */
    margin: 0 auto;
}

.menu {
    
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.menu li {
    
    display: inline-block;
    margin-right: 20px; /* Расстояние между пунктами меню */
}

.menu a {
    text-decoration: none;
    color: black;
    font-size: 18px; /* Размер шрифта */
    font-weight: bold; /* Полужирное начертание */
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.menu a:hover {
    background-color: red; /* Цвет фона при наведении */
}








body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #007bff; /* Adjusted to a nice shade of blue */
    padding: 15px;
    color: #fff;
    text-align: center;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #007bff; /* Adjusted to match the header color */
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    border-bottom: 1px solid #ddd;
    padding: 15px;
}

a {
    text-decoration: none;
    color: #007bff; /* Adjusted to match the header color */
}

a:hover {
    text-decoration: underline;
}

.add-button,
.delete-button,
.details-button {
    display: inline-block;
    padding: 10px;
    margin: 10px 0;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.add-button {
    background-color: #007bff; /* Adjusted to match the header color */
}

.delete-button {
    background-color: #dc3545;
}

.details-button {
    background-color: #c9ffc7; /* Adjusted to match the header color */
}

form {
    max-width: 400px;
    margin: 0 auto;
}

input[type="text"],
input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
    border: 1px solid #007bff; /* Added a border color to match the header color */
}


